body {
	position: absolute;
	margin: 0;
	height: 100%;
	width: 98%;
	font-family :"Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	background-size:cover;
	background:#444;
}

#main {
	position:absolute;
	left:15px;
	top:60px;
	width:100%;
	height:auto;
}

.panel-default {
	margin:0px;
	border-color: #666;
	color:#fff;
	background:#1B1C1C;
	border:none;
}

.panel-default>.panel-heading {
	z-index: 10;
	height: 30px;
	padding:0px;
	padding-left:20px;
	font-size:18px;
	vertical-align: middle;
	line-height: 30px;
	border-bottom:none;
	background:#1B1C1C;
	//background-image:linear-gradient(110deg, rgba(204, 232, 255,1) 0, rgba(204, 232, 255,1) 60px, rgba(204, 232, 255,0) 200px);
	background-image:linear-gradient(110deg, rgba(144,144,144,1) 0, rgba(144,144,144,1) 60px, rgba(144,144,144,0) 200px);
	text-shadow: 1px 1px 0 #000;
	color:#fff;
	font-weight: bold;
	font-family:"Georgia";
}

.list-group-item{
	color:#fff;
	background:none;
	border:none;
}

.panel-body {
	padding: 0px;
	height:100%;
	width:100%;
}

.title_large {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

.title_mid {
	font-size:12px;
	margin-bottom:5px;
	padding-left:15px;
	line-height: 25px;
	vertical-align: middle;
}

#map_panel {
	position: absolute;
	left: 0;
	top: 0;
	width: 900px;
	height: 470px;
	z-index: 2;
}

.map {
	width: 100%;
	height: 435px;
}

.icon.mapSetting {
	width:30px;
	height:30px;
}

#control_panel {
	position: absolute;
	left: 910px;
	top: 0;
	height:420px;
	width: 480px;
}


#result_panel {
	position: absolute;
	left: 910px;
	top: 430px;
	width: 480px;
	height: 240px;
	z-index: 2;
}

.result_content {
	font-size:12px;
}


#themeriver_panel {
	position: absolute;
	left: 0px;
	top: 480px;
	width: 900px;
	height: 190px;
	/* background: rgba(255,237,163,0.2); */
}

#riverwidth {
	position:absolute;
	right:20px;
	top:40px;
	background:#333;
	width:160px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	text-align:center;
	border-radius:3px;
	color:#eee;
}

#themeriver_wrapper {
	display:block;
	width:100%;
	height:100%;
}

.x.axis line {
	stroke: #ccc;
	stroke-opacity: 0.6;
}

.x.axis .minor {
	stroke-opacity: 0.8;
}

.x.axis text {
	stroke: none;
	fill: #ccc;
}

.x.axis path {
	opacity: 0;
}

.y.axis .minor {
	stroke-opacity: 0.5;
	stroke: #FFF;
	fill: none;
}

.y.axis path {
	display: none;
}

.navrow {
	position:fixed;
	top:0;
	left:0;
	margin:0;
	height:40px;
	width:100%;
    background: linear-gradient(to bottom, rgba(100,100,100,1) 0%,rgba(60,60,60,1) 25%,rgba(0,0,0,1) 100%);
	overflow:hidden;
	z-index:100;
}

#title_icon {
	display: inline-block;
	width:20%;
	transform:translate(0,-2px);
	height:41px;
	background: rgba(0,0,0,0);
	margin:0;
	padding:0;
	text-align: center;
}

#title_icon>img {
	height:100%;
}

.navbar_wrapper {
    height: 38px;
    width:80%;
    display: inline-block;
    font-family: "Trebuchet MS", Helvetica, sans-serif
    color: #ddd;
    font-size:15px;
    font-weight:600;
}

.navbar_wrapper>a {
    position:relative;
    display:inline-table;
    width:120px;
    height:100%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    margin: 0;
    cursor:pointer;
    color: #fff;
    transition: 0.3s background-color;
    background-color: rgba(0,0,0,0);
}

.navbar_wrapper>a:hover{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    text-decoration: none;
}

.navbar_wrapper>a.active {
    background-color:rgba(255,255,255,0.3);
    color: #fff;
    text-decoration: none;
}

.pie_wrapper{
	position:absolute;
	display:block;
	width:50%;
	height:100%;
	top:40px;
	left:0;
}

#slider_display_percentile{
	color:#fff;
	height:15px;
}

#slider_display_pop{
	color:#fff;
	height:15px;
}

#loader_page {
    position:absolute;
    top:35%;
    left:40%;
    height:auto;
    width:20%;
    border-radius:5px;
    background-color:#eee;
    z-index: 10000;
    display: none;
}

#loader_gif_row {
    position:relative;
    width:100%;
    margin-top:3%;
    text-align:center;
}

#loader_gif_row>img {
    margin-top:5%;
    width:60px;
}

#loader_text {
    height:auto;
    width:100%;
    padding-left:14px;
    padding-top:30px;
    padding-bottom:30px;
}

#loader_text>span {
    line-height:1.4;
    font-size:14px;
}

