html
  body
    .seed-nav(ng-controller='navCtrl')
      .row
        .col-xs-12
          nav.navbar.navbar-inverse.navbar-embossed(role='navigation')
            .navbar-header
              .collapse.navbar-collapse
                .baseli
                  p Seed
            //.collapse.navbar-collapse
            //  .baseli
            //    button.btn.btn-primary.dropdown-toggle(ng-click='openSchoolsDialog()', type='button', ng-bind='school.name')
            //  ng-include(src='logininc')