ul.nav.navbar-nav.navbar-right
  .baseli
    button.btn.btn-primary.dropdown-toggle(
    ng-click="openLoginDialog()"
    type='button'
    )
      | 登录

  .baseli
    button.btn.btn-primary.dropdown-toggle(
    ng-click='openRegisterDialog()'
    type='button'
    )
      | 快速注册

