// app
script(src="./scripts/app.js")
script(src="./scripts/run.js")

// config
script(src="./scripts/config.js")
// resolve
script(src="./scripts/resolves/authorization.js")
script(src="./scripts/resolves/provider.js")

// route
script(src="./scripts/route.js")

// api
script(src="./scripts/services/api/file.js")
script(src="./scripts/services/api/user.js")
script(src="./scripts/services/api/print.js")
script(src="./scripts/services/api/data.js")
script(src="./scripts/services/api/run.js")
// tool
script(src="./scripts/services/utils/calc.js")
// cookie
script(src="./scripts/services/cookie/location.js")
// data
script(src="./scripts/services/data/global.js")
// auth
script(src="./scripts/services/cookie/auth.js")


