body {
	position:absolute;
	margin:0;
	height:100%;
	width:98%;
	font-family:"Trebuchet MS",Helvetica,sans-serif;
	font-size:12px;
	line-height:100%;
	background-size:cover;
	border:none;
	background:#444;
}

hr { margin: 5px 0 5px 0; }

table {
    table-layout : auto;
    white-space: auto;
    line-height: auto;
    font-weight: auto;
    font-size: auto;
    font-variant: auto;
    font-style: auto;
    color: white;
    text-align: auto;
}

.leaflet-popup-close-button {
	height: 0;
}

.leaflet-popup-content-wrapper {
	padding: 0 2px 0 2px;
	transform: translate(0,5px);
}

.leaflet-popup-content {
	line-height: 1.3;
	font-size: 12px;
	font-style: "Trebuchet MS",Helvetica,sans-serif;
}

#main {
	position:absolute;
	left:15px;
	top:60px;
	width:100%;
}
.panel-default {
	margin:0px;
	border-color:#666;
	color:#fff;
	background:#1B1C1C;
	border:none;
}
.panel-default> .panel-heading {
	z-index:10;
	height:30px;
	padding:0px;
	padding-left:20px;
	font-size:18px;
	vertical-align:middle;
	line-height:30px;
	border-bottom:none;
	background:#1B1C1C;//
	background-image:linear-gradient(110deg, rgba(204, 232, 255,1) 0, rgba(204, 232, 255,1) 60px, rgba(204, 232, 255,0) 200px);
	background-image:linear-gradient(110deg, rgba(144,144,144,1) 0, rgba(144,144,144,1) 60px, rgba(144,144,144,0) 200px);
	text-shadow:1px 1px 0 #000;
	color:#fff;
	font-weight:bold;
	font-family:"Georgia";
}
.list-group-item {
	color:#fff;
	background:none;
	border:none;
}
.panel-body {
	padding:0px;
	height:100%;
	width:100%;
}
.title_large {
	font-weight:bold;
	font-size:14px;
	margin-bottom:15px;
	color:white;
}
.title_mid {
	font-size:13px;
	padding:0px;
	padding-left:15px;
}
#map_residence_panel {
	position:absolute;
	left:1%;
	top:0.5%;
	width:30%;
	height:40%;
	z-index:2;
}
#control_panel {
	position:absolute;
	left:910px;
	top:0;
	height:auto;
	width:480px;
}
#control_body {
	padding-left:5px;
}
#result_panel {
	position:absolute;
	left:0;
	top:360px;
	width:480px;
	height:310px;
	z-index:2;
}
#map_contact {
	width:100%;
	height:70%;
}
#map_on_top {
	width:100%;
}

#time_select_panel {
    position:absolute;
    top:40px;
    right:5px;
    height:80px;
}

#region_submit_btn {
	position:absolute;
	bottom:20px;
	right:20px;
	width:80px;
	height:44px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	border-radius:5px;
    border:2px solid #333;
    box-shadow:none;
    transition:0.3s box-shadow;
    transition:0.3s opacity;
    opacity: 0.5;
    cursor: not-allowed;
	color: #333;
	background-color: rgba(255,255,255,0.8);
}

#region_submit_btn.valid {
    box-shadow:0px 0px 20px 1px rgba(255,255,255,1);
    opacity: 1;
    cursor: pointer;
}

.icon.mapSetting {
	width:30px;
	height:30px;
}
.result_content {
	font-size:14px;
	font-weight:bold;
}
.grid {
	position:absolute;
	height:165px;
}
.grid_map {
	position:absolute;
	height:150px;
	top:0;
	left:0;
	width:100%;
}
.grid_index {
	position:absolute;
	height:20px;
	top:150px;
	left:0;
	width:100%;
	line-height:20px;
	font-size:15px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
}
.point_selected_display {
	padding:5px 5px 10px 10px;
	background-color:#333;
	box-shadow:inset 0 3px 5px rgba(0,0,0,.25);
	border-radius:5px;
	color:white;
	font-size:12px;
	line-height:1.3;
	height:auto;
	transition:0.5s background-color;
}
.point_selected_display:hover {
	color:white;
	background-color:#666;
}
.point_selected_display.sel {
	color:white;
	background-color:#666;
	box-shadow:inset 0 3px 5px rgba(0,0,0,.25);
}
.point_info {
	display:block;
	margin-top:3px;
	line-height:1.0;
	padding-left:10px;
}
#map_contact_panel {
	position:absolute;
	left:0;
	top:0;
	width:900px;
	height:670px;
	z-index:2;
}
#map_contact {
	height:450px;
}
#slide_container {
	position:relative;
	width:100%;
	height:30px;
	background:linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(27,28,28,1) 100%);
	overflow:hidden;
}
.slide_bar {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	border-radius:3px;
	z-index:3;
}
.slide_cell {
	position:relative;
	display:inline-block;
	height:100%;
	text-align:center;
	vertical-align:middle;
	color:ghostwhite;
	font-size:16px;
	background-color:rgba(0,0,0,0);
	transition:0.3s background-color;
}
.slide_cell:hover {
	background-color:rgba(250,235,215,0.2);
	color:antiquewhite;
}
.slide_cell.checked {
	background-color:rgba(250,235,215,0.5);
	color:white;
}
.slide_cell> span {
	vertical-align:middle;
	line-height:30px;
}
#grid_view_window {
	position:relative;
	width:100%;
	height:210px;
	z-index:2;
	border:none;
	overflow:hidden;
}
#grid_view_panel {
	position:relative;
	height:100%;
	z-index:2;
	border:none;
}
.arrow {
	position:absolute;
	width:15px;
	top:0;
	height:100%;
	background-size:100% 100%;
	z-index:10;
	opacity:0.5;
}
.arrow:hover {
	opacity:1;
}
#result_display {
	padding-left:20px;
	padding-top:10px;
	line-height:110%;
	font-size:14px;
}
.navrow {
	position:fixed;
	top:0;
	left:0;
	margin:0;
	height:40px;
	width:100%;
	background:linear-gradient(to bottom, rgba(100,100,100,1) 0%,rgba(60,60,60,1) 25%,rgba(0,0,0,1) 100%);
	overflow:hidden;
	z-index:100;
}
#title_icon {
	display:inline-block;
	width:20%;
	transform:translate(0,-2px);
	height:41px;
	background:rgba(0,0,0,0);
	margin:0;
	padding:0;
	text-align:center;
}
#title_icon> img {
	height:100%;
}
.navbar_wrapper {
    height: 38px;
    width:80%;
    display: inline-block;
    font-family: "Trebuchet MS", Helvetica, sans-serif
    color: #ddd;
    font-size:15px;
    font-weight:600;
}

.navbar_wrapper>a {
    position:relative;
    display:inline-table;
    width:120px;
    height:100%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    margin: 0;
    cursor:pointer;
    color: #fff;
    transition: 0.3s background-color;
    background-color: rgba(0,0,0,0);
}

.navbar_wrapper>a:hover{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    text-decoration: none;
}

.navbar_wrapper>a.active {
    background-color:rgba(255,255,255,0.3);
    color: #fff;
    text-decoration: none;
}
#cover_on_top {
	position:absolute;
	left:0;
	top:0;
	width:102%;
	height:100%;
	background:rgba(0,0,0,0.8);
	z-index:100;
	//display:none;
}
#cover_on_top> .panel {
	position:absolute;
	left:20%;
	top:20%;
	width:60%;
	height:60%;
	background:white;
	-webkit-box-shadow:0px 0px 20px 1px rgba(255,255,255,1);
	-moz-box-shadow:0px 0px 20px 1px rgba(255,255,255,1);
	box-shadow:0px 0px 20px 1px rgba(255,255,255,1);
}
#cover_on_top> .panel> .panel-heading {
	height:35px;
}
.glyphicon-remove-sign {
	color:#ddd;
	position:absolute;
	right:15px;
	line-height:35px;
	vertical-align:middle;
	font-size:20px;
	cursor:pointer;
}
.glyphicon-remove-sign:hover {
	color:#ccc;
}

.leaflet-control-attribution{
    display:none;
}

#loader_page {
    display:block;
    position:absolute;
    top:35%;
    left:40%;
    height:auto;
    width:20%;
    border-radius:5px;
    background-color:#eee;
    z-index: 100;
    display:none;
}

#loader_gif_row {
    position:relative;
    width:100%;
    margin-top:3%;
    text-align:center;
}

#loader_gif_row>img {
    margin-top:5%;
    width:60px;
}

#loader_text {
    height:auto;
    width:100%;
    padding-left:14px;
    padding-top:30px;
    padding-bottom:30px;
}

#loader_text>span {
    line-height:1.4;
    font-size:14px;
}

#display_column {
	position:absolute;
	width:200px;
	top:45px;
	right:5px;
	height:auto;
	z-index:101;
}

.select_info_display{
    width:100%;
    height:auto;
    border-radius:5px;
    border:2px solid #ccc;
    background-color: rgba(255,255,255,0.8);
    color: black;
    line-height:1.4;
    font-size:14px;
	padding: 5px 5px 5px 5px;
}

button:disabled{
    background-color:#666;
    color:#ccc;
    cursor:not-allowed;
}

.ui-timepicker{
    font-family: Segoe UI,Arial,sans-serif;
}

.ui-timepicker-table td{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ui-timepicker-table td>a{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.region_list_item{
	font-size: 14px;
	padding: 3px 3px 3px 3px;
	color: black;
	background-color: rgba(0,0,0,0);
}
.region_list_item:hover{
	color: #333;
	background-color: rgba(21,160,214,0.2);
}

.region_list_item.active{
	color: #333;
	background-color: rgba(21,160,214,0.2);
}
