.visual
  .part1
    .content(ng-hide ='load1&&load2&&load3')
      .row-one
        .col-xs-4.sampling-rate.has-success
          span Sampling rate
          input.form-control(type='text',ng-model='samplingRate')
          span %
        .col-xs-5.sampling-rate.has-success
          span Error distance greater than
          input.form-control(type='text',ng-model='errThreshold')
          span m
      .row-one
        .col-xs-3
          .btn.btn-block.btn-lg.btn-success(ng-click='setVisModel1()',ng-hide='load1')
            | Model1
        .col-xs-3
          .btn.btn-block.btn-lg.btn-info(ng-click='setVisModel2()', ng-hide='load2')
            | Model2
        .col-xs-3
          .btn.btn-block.btn-lg.btn-warning(ng-click='setVisModel3()', ng-hide='load3')
            | Model3
        .col-xs-3
          .btn.btn-block.btn-lg.btn-danger(ng-click='setVisModel4()', ng-hide='load2')
            | Model4
    .content(ng-show='load1&&load2&&load3')
      img.loading(src='./styles/image/loading.gif')

  .wrapper
    .part2
      .content(id='container')


    .part3
