.visual
  .part1
    .content(ng-hide ='load1&&load2&&load3')
      .row-one
        .col-xs-4.sampling-rate.has-success
          span Sampling rate
          input.form-control(type='text',ng-model='samplingRate')
          span %
        .col-xs-5.sampling-rate.has-success
          span Error distance greater than
          input.form-control(type='text',ng-model='errThreshold')
          span m
      .row-one
        .col-xs-3
          .btn.btn-block.btn-lg.btn-success(ng-click='setVisModel1()',ng-hide='load1')
            | Trajectory
        .col-xs-3
          .btn.btn-block.btn-lg.btn-info(ng-click='setVisModel2()', ng-hide='load2')
            | Deviation
        .col-xs-3
          .btn.btn-block.btn-lg.btn-warning(ng-click='setVisModel3()', ng-hide='load3')
            | Dev-BS
        .col-xs-3
          .btn.btn-block.btn-lg.btn-danger(ng-click='setVisModel4()', ng-hide='load2')
            | Traj-count
    .content(ng-show='load1&&load2&&load3')
      img.loading(src='./styles/image/loading.gif')

  .wrapper
    .part2
      .content
        .left
          p Results

          .view-row
            .col-lg-2
              .clickable
                span.fui-plus(ng-click='addResult()')
            .col-lg-9
              .row(ng-repeat='i in addResList track by $index')

                select(
                ng-model='addResList[$index].alg'
                ng-options='name for name in algList'
                )
                  option(value="") -- algorithm --
                select(
                ng-model='addResList[$index].num'
                ng-options='name for name in domTree[addResList[$index].alg]'
                )
                  option(value="") -- id --


              .row
                .btn.btn-block.btn-lg.btn-primary(ng-click='getRRs()',ng-hide='load1')
                  | Add

        .right(id='container')

    .part3
      .content(ng-show='resultScreen')
        .newwrap(style="width:100%")
          .sylresult
            p Train Set:
              span.ft {{trainSet}}
              | Test Set:
              span.ft {{testSet}}
          .sylresult
            table(style="margin:auto;width:85%")
              tr
                th Algorithm
                th ResultId
                th Train
                th Test
                th Max
                th Min
                th Mean
                th Median
                th 67%
                th 80%
                th 90%
              tr(ng-repeat='res in resultList')
                td {{res.id}}
                td {{res.algResNumber}}
                td {{res.TrainSize}}
                td {{res.TestSize}}
                td {{res.MaxError}}
                td {{res.MinError}}
                td {{res.MeanError.toFixed(2)}}
                td {{res.MedianError}}
                td {{res.Per67Error}}
                td {{res.Per80Error}}
                td {{res.Per90Error}}


            //.sylbt
            //  .btn.btn-block.btn-lg.btn-info(ng-click='goVisualize()',ng-hide='load1') Visualize

    .part3
      .content(ng-show='resultScreen')
        img(style="margin:auto" src='{{showCdf}}')



    .part3
