.visual
  .part1
    .content
      .col-xs-3
        .btn.btn-block.btn-lg.btn-success(ng-click='setVisModel1()')
          | Model1
      .col-xs-3
        .btn.btn-block.btn-lg.btn-info(ng-click='setVisModel2()')
          | Model2
      .col-xs-3
        .btn.btn-block.btn-lg.btn-warning(ng-click='setVisModel3()', ng-hide='load3')
          | Model3
  .wrapper
      .part2
        .content(id='container')


      .part3
