.RF_roc
  .row
    span Layer 1
    label
      span n_jobs
      input.form-control(type='text',placeholder='-1',ng-model='RF_roc.layer1.n_jobs')
    label
      span n_estimators
      input.form-control(type='text',placeholder='1000',ng-model='RF_roc.layer1.n_estimators')
    label
      span max_features
      input.form-control(type='text',placeholder='0.8',ng-model='RF_roc.layer1.max_features')
    label
      span bootstrap
      input.form-control(type='text',placeholder='False',ng-model='RF_roc.layer1.bootstrap')
    label
      span criterion
      input.form-control(type='text',placeholder='mse',ng-model='RF_roc.layer1.criterion')
  .row
    span Layer 2
    label
      span n_jobs
      input.form-control(type='text',placeholder='-1',ng-model='RF_roc.layer2.n_jobs')
    label
      span n_estimators
      input.form-control(type='text',placeholder='600',ng-model='RF_roc.layer2.n_estimators')
    label
      span max_features
      input.form-control(type='text',placeholder='sqrt',ng-model='RF_roc.layer2.max_features')
    label
      span bootstrap
      input.form-control(type='text',placeholder='False',ng-model='RF_roc.layer2.bootstrap')
    label
      span criterion
      input.form-control(type='text',placeholder='mse',ng-model='RF_roc.layer2.criterion')
