
script(src="./scripts/libs/angular.js")
script(src="./scripts/libs/angular-ui-router.js")
script(src="./scripts/libs/angular-classy.js")
script(src="./scripts/libs/classy-initScope.js")

script(src="./scripts/libs/bluebird.js")
script(src="./scripts/libs/restangular.js")
script(src="./scripts/libs/lodash.js")

script(src="./scripts/libs/angular-cookies.js")
script(src="./scripts/libs/ng-infinite-scroll.js")
script(src="./scripts/libs/ng-file-upload-shim.js")
script(src="./scripts/libs/ng-file-upload.js")

script(src="./scripts/libs/jquery.js")
script(src="./scripts/libs/flat-ui.js")
script(src="./scripts/libs/application.js")
script(src="./scripts/libs/angular-animate.js")



