script(src="/sweet-alert/scripts/libs/jqLite.extra.js")

script(src="/sweet-alert/_scripts/app.js")

script(src="/sweet-alert/_scripts/fswal-dialog.js")
script(src="/sweet-alert/_scripts/fswal-blurred.js")
script(src="/sweet-alert/_scripts/fswal-overlay.js")

script(src="/sweet-alert/_scripts/fswal-default-ctrl.js")

script(src="/sweet-alert/_scripts/sweet-alert.js")
script(src="/sweet-alert/_scripts/fswal.js")
