

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	background-repeat: repeat-x;
	padding-top: 60px;
	padding-bottom: 40px;
}

.body_green{
	background-image: url(../images/h3.png);
}

.mbbui-title{
	//font-size: 1.6em;
}


.mbbui-descrip{
	//font-size: 1.6em;
}


.mbbui-querytitle{
	//font-size: 1.6em;
}


.mbbui-queryfield{
	margin-top: 10px;
	background-color: #F2F2F2;
	border: 1px solid #333;
	width: 100%;
	line-height: 22px;
	padding: 10px;
	align: right;
}


.mbbui_supplement{
	font-size:0.6em	
}


.mfp_canvas {
	width: 650px;
	height: 400px;
	border: 1px solid #CCCCCC;
	margin: 5px auto;
	font-size: 75%;
}






