.page1
  p {{hello}}
  label
    | Name:
    input(type='text',ng-model='user.name')
    button(ng-click='btnFunc()') Button
  p user.name = {{user.name}}

  button(ng-click='callGET(user.name)') callGET
  button(ng-click='callPOST(user.name)') callPOST
  {{this}}




