.home
  .part1
    .content
      p This is a web app seed.

  .part2
    .row

      .col-xs-3.col-xs-offset-1
        .tile
          img.tile-image.big-illustration(src='./styles/images/book.svg')
          h3.tile-title Title 1
          p description about this module.
          a.btn.btn-primary.btn-large.btn-block(href='http://localhost:9000/404') Go module 1
      .col-xs-3
        .tile
          img.tile-image.big-illustration(src='./styles/images/clipboard.svg')
          h3.tile-title Title 2
          p description about this module.

          a.btn.btn-primary.btn-large.btn-block(ng-click='goPositioning()') Go module 2

      .col-xs-3
        .tile
          img.tile-image.big-illustration(src='./styles/images/pencils.svg')
          h3.tile-title Title 3
          p description about this module.
          a.btn.btn-primary.btn-large.btn-block(ng-click='goBridging()') Go module 3





