.portal
  .part1
    .content
      p This system can predict the location of measurement report(MR)
      p Visualize and compare the results, Generate reports

  .part2
    .row

      .col-xs-3.col-xs-offset-3
        .tile
          img.tile-image.big-illustration(src='./styles/image/compas.svg')
          h3.tile-title Localization
          p Localization with a series of algorithms.
          br
          a.btn.btn-primary.btn-large.btn-block(ng-click='goPositioning()') Go Positioning

      .col-xs-3
        .tile
          img.tile-image.big-illustration(src='./styles/image/loop.svg')
          h3.tile-title Trajectory bridging
          p Bridging trajectories with collaborative filtering.
          a.btn.btn-primary.btn-large.btn-block(ng-click='goBridging()') Go Bridging




