.home{
  background-color: #ECF0F1;
  padding-bottom: 90px;
  min-height: 840px;
  .part1 {
    background-color: #D8D8D8;
    height: 80px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    p {
      margin: auto;
      padding-left: 95px;
    }
    .content {
      width: 1200px;
      margin: auto;
    }
  }
  .tile p {
    height: 35px;
  }
  .part2 {
    width: 1200px;
    margin-left: 130px;
  }
}